{
  "special_list": [
    [
      "dl.google.com",
      1
    ]
  ],
  "white_list": [
    "acgvideo.com",
    "bilibili.com",
    "hdslb.com",
    "v2ex.co",
    "v2ex.com"
  ],
  "black_list": [
    "google.co.jp",
    "google.com",
    "google.com.hk",
    "nicovideo.jp"
  ],
  "local_ip": [
    [
      "10.0.0.0",
      16777216
    ],
    [
      "172.16.0.0",
      1048576
    ],
    [
      "192.168.0.0",
      65536
    ]
  ],
  "bypass_list": [
    [
      65537,
      3
    ],
    [
      65544,
      8
    ]
  ]
}